button,
select {
  outline: none !important;
}
.mobile-tabs {
  scrollbar-width: none;
}
.mobile-tabs::-webkit-scrollbar {
  display: none;
}
.myaccount__grid {
  display: grid;
  grid-template-columns: minmax(150px, 250px) minmax(400px, 1fr);
  gap: 1em;
}

.details__container {
  position: relative;
  display: grid;
  gap: 15px;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: minmax(240px, 1fr) minmax(250px, 1.5fr) minmax(
      200px,
      0.7fr
    );
  /* grid-template-columns: minmax(250px, 2fr) minmax(200px, 1fr); */
  grid-template-rows: auto;
  /* grid-auto-flow: row; */

  margin-bottom: 1em;
  /* grid-template-columns: minmax(300px, 2fr) minmax(300px, 3fr); */
}
.details__container-mobile {
  position: relative;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
}
.thumbnails__left {
  /* position: absolute; */
  top: 0;
  left: 0;
}
.select-mobile {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select-mobile::-ms-expand {
  display: none;
}
.mainslider {
  position: sticky;

  left: 0;
}

.sidebar__inner {
  display: flex;
  position: relative;
  width: 400%;
  transition: left 0.4s ease;
}

.sidebar-first {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.sidebar-second {
  width: 25%;
  display: flex;
  flex-direction: column;
  /* left: 100%; */
}
.page0 {
  left: 0;
}
.page1 {
  left: -100%;
}
.page2 {
  left: -200%;
}
.page3 {
  left: -300%;
}
.page4 {
  left: -400%;
}

.cart {
  display: grid;
  grid-template-columns: minmax(300px, 2.5fr) minmax(250px, 0.5fr);
  gap: 0.5em;
}
.cart__title {
  display: grid;
  grid-template-columns: 2.6fr 0.3fr;
  gap: 0.5em;
  margin-bottom: 0.2em;
}
.cart__item {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 0.6fr 2fr 0.3fr;
  gap: 0.5em;
}
.cart__item-mobile {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 120px 1fr;
  gap: 0.5em;
}

.btn-sticky {
  position: sticky !important;
  top: 60px;
  left: 0;
  right: 0;
}
